.stanza {
  padding-left:1px; 
  padding-top:8px;
  page-break-inside: avoid;
}

.chorus {
  padding-left:8px; 
  padding-top:8px;
  page-break-inside: avoid;
}

.line {
  text-indent: -20px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.verse {
  font-weight:bold;
  font-size:70%;
  white-space:nowrap;
}


.line_type_data {
}

.line_type_comment {
  font-style:italic;
}

.line_type_info {
}

.line_type_ref {
}

.line_type_tune {
  font-style:italic;
}


/* Anchors that look like regular text */
.hidden_a {
 text-decoration:none; 
 color:black
}


img {
  border:none;
}


/* ----------------------- Navigation ------------------------------ */

.nav_table {
  padding-top:20px;
  width:90%;
}

.nav_enter_num {
  font-weight:bold;
  font-size:120%;
  padding-top:10px;
}

.nav_number {
  font-weight:bold;
  font-size:200%;
  padding-top:20px;
}

.nav_table td {
  border:1px solid black;
  font-size:180%;
  font-weight:bold;
  width:30%;
  text-align:center;
}

.nav_table td span {
 padding-left:10px;
 padding-right:10px;
}
